.form{
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  top: 20px;
}

.formDiv{
  margin-bottom: 20px;
}

.formLabel{
  display: inline-block;
  text-align: right;
  width: 150px;
}

.formInput{
  border-bottom: 1px solid darkgray;
  display: inline-block;
  margin-left: 20px;
  width: 300px;
}

.formInputShort {
  width: 30px;
}
