.searchBar{
  border-width: 2px;
  border-radius: 8px;
  border-color: silver;
  margin-left: 6px;
  margin-right: 6px;
  padding-left: 6px;
  width: 200px;
}

.searchButton{
  border-width: 2px;
  border-radius: 8px;
  border-color: silver;
  margin-left: 6px;
  font-weight: bold;
  color: teal;
  width: 50px;
}
